<%- include('../partials/header.ejs') %>
    <main id="main">
        <section style="margin-top:50px">
            <div class="container">
                <%- body %>
            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>