

<div class="container px-5 py-24 mx-auto">
  <div class="flex flex-col text-center w-full mb-20" >
      <h1 class="sm:text-3xl text-2xl font-medium  mb-4 text-gray-900">Welcome to Interns-Hub!!</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">A one-stop solution to all your queries.
      </p>   
  </div>
  
    
      <div class="text-center" style="padding-top:50px;">
        <h1>Why Interns-Hub?</h1> 
      </div>
    
  
  
    <div class="card-body">
      <div class="card card-header">
        <div class="row text-center" style="padding: 40px 0px 0px 50px; ">
            <div class="col-lg-6 col-md-6 border-1 text-center">
                <h2><u>Company</u></h2>
                <p class="mb-4"></p>
                <p class="mb-4 text-center">Let's fulfill your requirement by getting applications from interested interns
                  and find suitable interns for your work. Just register your company and conduct intern-search procedure hassle-free!</p>
            </div>
            

            <div class="col-lg-6 col-md-6 border-1 text-center">
                <h2><u>Student</u></h2>
                <p class="mb-4"></p>
                <p class="mb-4 text-center">Search your desired internship without any difficulty. Just register yourself and
                  find exclusive company details. No more googling the company name for contact information! No risk of fake 
                  company internships and find the internship based upon your desired location. Get all answers related to 
                  where your internship will be, in which field, whether you are selected in it or not for sure. Also,
                you can find freelance-jobs from different portals.</p>
            </div>
        </div>
      </div>
    </div>
  
  <p class="text-center padding-top-7">If you face any queries in the website, feel free to contact us.</p>
  
</div>
