<div class="card">
    <div class="card-body">
        <b>1) Do I get to choose my location for an internship role?</b>
        <p><b>Ans)</b> You’re able to choose your location for an internship according to your
        requirements and needs which is easy for you.</p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <b>2) What will the timing, or the potential start date of my internship?</b>
        <p><b>Ans)</b> Internships periods and timing depends on the company you are applying. Start and end times can vary 
        by role — check with your company regarding your precise start and end dates.</p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <b>3) I’ve applied for an internship before. Is the application process any different for me?</b>
        <p><b>Ans)</b> The process for all applicants is the same, regardless of how far you previously progressed in 
        the interview process. </p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <b>4) What are the benefits of an internship?</b>
        <p><b>Ans)</b> An internship gives you the opportunity to:</p>
        <p>♦ Gain valuable work experience before you graduate.</p>
        <p>♦ Develop new skills and refine others.</p>
        <p>♦ Apply knowledge gained from coursework to on-the-job situations.</p>
        <p>♦ Reality-test tentative career choices.</p>
        <p>♦ Meet and work with professionals, establishing contacts for letters of reference
        and networking.</p>
        <p>♦ Experience new work environments.</p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <b>5) How can I get a job based upon internship if I have no experience?</b>
        <p><b>Ans)</b> Employers value skills developed through academic work, volunteer experiences,
            extracurricular experiences, or other experiences which demonstrate skills useful in
            work. Obtaining internships is another great way to bridge the gap between college and job.
            If a job does require some very specific experience, you might consider finding a more
            routine position in a setting similar to where you would eventually like to hold a job with
            greater responsibilities.</p>
    </div>
</div>