<br><br>
<div class="col-md-12">
    <h1 class="pt-3 text-center text-muted">List for Freelance Work</h1>
</div>


<div class="card-freelance">
    <div class="card-body">       
        <li>
            <a href="https://www.upwork.com/freelance-jobs/android-app-development/">Android application Development</a>
        </li>
        <li>
            <a href="https://www.upwork.com/freelance-jobs/artificial-intelligence/">Artificial intelligence</a>
        </li>
        <li>
            <a href="https://www.upwork.com/freelance-jobs/aspnet/">ASP.NET Development</a>
        </li>
        <li>
            <a href="https://www.upwork.com/freelance-jobs/blog-writing/">Blog Writing</a>
        </li>
        <li>
            <a href="https://www.upwork.com/freelance-jobs/c-sharp/">C# Developers</a>
        </li>
        <li>
            <a href="https://www.upwork.com/freelance-jobs/data-science/">Data Science</a>
        </li>
        <li>
            <a href="https://www.upwork.com/freelance-jobs/digital-marketing/">Digital Marketing</a>
        </li>
        <li>
            <a href="https://www.upwork.com/freelance-jobs/frontend-development/">Frontend Development</a>
        </li>
        <li>
            <a href="https://www.upwork.com/freelance-jobs/iphone-app-development/">IOS application Development</a>
        </li>
        <li>
            <a href="https://www.upwork.com/freelance-jobs/javascript/">Javascript Development</a>
        </li>
        
        <li>
            <a href="https://www.upwork.com/freelance-jobs/user-experience-design/">UX Design</a>
        </li>
        <li>
            <a href="https://www.upwork.com/freelance-jobs/website/">Website Development</a>
        </li>
        <p></p>
        <p>
            <a href="https://www.upwork.com/freelance-jobs/">Not interested in these? Find more here!</a>
        </p>
    </div>
</div>